<h1> Actions </h1>
<a class="btn btn-md btn-primary" href=<%="/dashboard/display"%> role="button">Authorize Users</a>
<br>
<br>
<a class="btn btn-md btn-primary" href=<%="/dashboard/projectApproval"%> role="button">Approve Project Requests</a>