<% if admin_signed_in? || user_signed_in %>

<div class="page-header">
	<h1>Create a Project Request</h1>
</div>

<div style="text-align:center">
<%= form_tag({:controller => "request", :action => "post_newproject"}, :method => "post") do %>
	<!-- Create project -->
	<%= render "newproject"%>
	<%= render "newinstance" %>

<button type="submit" class="btn btn-primary">Submit</button>
<% end %>
</div>

<% else %>
<h4> You need to login to see this page! </h4>
<% end %>