<div class = "homepage">
<h1> Projects That Work </h1>
<h3> A service learning project </h3>
</div>
<div>
<h3> About Projects That Work </h3>
<h4> The Problem </h4>
<p> It is estimated that a quarter of U.S. high schools offer service learning – an intervention where students participate in real-world projects to learn academic content while addressing community needs. Powerful examples of service learning include students’ analyzing polluted river water to learn environmental science, charting driver’s texting at intersections to practice research methods, or building a webpage for a homeless shelter to apply coding and design skills. Despite its promise, the reality is only a small portion of schools can mount successful projects. The main challenge is that many teachers lack support or resources to select, plan, and implement projects that can quickly “teach to the test” while realizing the full potential of experiential learning. This is compounded by the absence of available information on what project types are feasible to do and align to educational standards for a course; what project types students enjoy doing, find impactful, and lead to learning; and what steps and materials are needed to implement projects. </p>
<br>
<h4> Projects That Work </h4>
<p>Projects That Work hosts, organizes, and presents information about service learning projects. Through this site, teachers can access, record, and share their experiences with service learning in the classroom. Ultimately, we hope to elevate service learning to a viable mainstream intervention where students learn content by doing. Through this experience, young people become active citizens in a pursuit to solve the most intractable local, national, and global problems.</p>
<h3> Questions? </h3>
Contact info:
</div>